body{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: auto 0px;
  background: url('fondotrama.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

em{
  font-size: 1.1em;
}

/*.principal{
  background: url('fondo-v5.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}*/

.linenavbar {
  height: 15px;
  border: 1px double #e5820c;
  background-color: #e5820c;
  max-width: 4000px;
  margin: 0px;
}

.navbar{
  margin: 0px auto;
  background-color: white;
  height: 80px;
  /*border-bottom-color: #e5820c;
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
  border-bottom-width: 2px;*/
}

.navbar-nav .navbar-default{
  border-bottom: 2px solid #e5820c;
}

.navbar-default .navbar-nav li a:hover{
  color: #e5820c;
}

.navbar-brand{
  margin: 0px;
  padding: 0px;
}

.navbar-brand img{
  height: 60px;
  padding-left: 10px;
}

.navbar a{
  margin-top: 10px;
}

.navbar li a{
  margin-top: 15px;
}

.navbar-default .navbar-collapse .navbar-default .navbar-form{
  background-color: white;
}

@media (min-width: 768px) {
  .container-fluid{
    margin: 0% 10%;
  }
  .container-fluid-zapas{
    padding-right: 10%;
    padding-left: 10%;
    margin-right: auto;
    margin-left: auto;
  }
}

/*@media (min-width: 1500px) {
  .container-fluid{
    padding: 0px 150px;
  }
  .box{
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgba(255, 255, 255, 0.9)
  }
}*/

.box{
  padding: 0% 5%;
  background-color: rgba(255, 255, 255, 0.9)
}

.btn-warning{
  background-color: #e5820c;
  border-color: #e5820c;
}

.btn-warning:hover{
  background-color: #f0ad4e;
  border-color: #eea236;
}

h2{
  text-transform: uppercase;
}

.page-header{
  margin-top: 30px;
  border-bottom: 1px solid #e5820c;
}

h3{
  color: #e5820c;
  text-transform: uppercase;
  font-size: 20px;
}

li .list-group-item {
  border: none;
  padding: 0px;
  margin: 0px;
}

p.glyphicon.glyphicon-minus{
  padding: 0px;
}

h4{
  text-transform: uppercase;
}

.glyphicon{
  padding: 10px 10px;
}

.thumbnail{
  border: none;
  margin-bottom: 5%;
}

div .thumbnail:hover{
  background-color: #e5820c;
}

/*.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}*/

.btn{
  margin-bottom: 20px;
  align-content: flex-end;
}

.logo img{
  height: 80px;
  padding: 0px 5px 10px 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

.lead{
  font-weight: 300;
}

@media (min-width: 768px) {
  .carousel-inner .item img{
    margin-left: 5%;
  }
}

@media (min-width: 2400px) {
  .carousel-inner .item img{
    margin-left: 25%;
  }
}

.carousel-caption{
  color: white;
  text-shadow: 0px 1px 2px black;
  z-index: 50;
}

.carousel-indicators li{
  border: 1px solid black;
}

.carousel-indicators .active{
  background-color: white;
}

.media-object{
  height: 80px;
  margin-bottom: 15px;
}

@media (max-width: 576px) {
  .media-object{
    height: 50px;
  }
}

footer{
  background-color: #e5820c;
  color: white;
  font-size: 12px;
  padding: 10px 50px 0px 50px;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e7e7e7;
  margin: 0px auto;
}

footer p{
  padding: 5px 10px 5px 10px;
  margin: 5px;
}

footer p img{
  margin: -1px;
}

footer a{
  color: white;
}

footer a:hover{
  color: white;
  cursor: pointer;
  text-decoration: none;
}

footer a:visited{
  color: white;
}

.logof img{
  height: 35px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  padding: 0px
}

p .logof{
  margin: 0px;
  padding: 0px;
}
